html{
    background-color:#f3f6f7;
}
body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
}

/* line 8, ../scss/_reset.scss */
article, aside, footer, header, hgroup, nav, section, audio, canvas, video, img {
    display: block;
}

/* line 9, ../scss/_reset.scss */
body {
    font-size:13px;
    font-family: 'PingFangSC','Microsoft Yahei light','STXihei', 'Microsoft Yahei', 'Helvetica Neue', 'helvetica', 'arial';
    -webkit-text-size-adjust: 13px;
    -ms-text-size-adjust: 13px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
    width:100%;
}

/* line 10, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color:#000;
}

/* line 11, ../scss/_reset.scss */
textarea {
    resize: none;
}

/* line 12, ../scss/_reset.scss */
iframe, img {
    border: 0;
}

/* line 13, ../scss/_reset.scss */
ul, ol {
    list-style: none;
}

/* line 14, ../scss/_reset.scss */
input, select, textarea {
    outline: 0;
    -webkit-user-modify: read-write-plaintext-only;
    font-size:14px;
}

/* line 15, ../scss/_reset.scss */
input {
    -webkit-appearance: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #999999; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #999999; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #999999; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #999999; 
} 
/* line 16, ../scss/_reset.scss */
a {
    text-decoration: none;
}

/* line 17, ../scss/_reset.scss */
i, em {
    font-style: normal;
}

/* line 18, ../scss/_reset.scss */
.dis {
    display: block;
}

/* line 19, ../scss/_reset.scss */
.undis {
    display: none;
}

/* line 20, ../scss/_reset.scss */
.fl {
    float: left;
}

/* line 21, ../scss/_reset.scss */
.fr {
    float: right;
}

/* line 24, ../scss/_reset.scss */
.tc {
    text-align: center;
}

/* line 25, ../scss/_reset.scss */
.tl {
    text-align: left;
}

/* line 26, ../scss/_reset.scss */
.tr {
    text-align: right;
}

/* line 28, ../scss/_reset.scss */
.f12px {
    font-size: 12px;
}

/* line 31, ../scss/_reset.scss */
.f14px {
    font-size: 14px;
}

/* line 34, ../scss/_reset.scss */
.f16px {
    font-size: 16px;
}

/* line 38, ../scss/_reset.scss */
.mt10 {
    margin-top: 10px;
}

/* line 39, ../scss/_reset.scss */
.ml10 {
    margin-left: 10px;
}

/* line 40, ../scss/_reset.scss */
.mr10 {
    margin-right: 10px;
}

/* line 41, ../scss/_reset.scss */
.mb10 {
    margin-bottom: 10px;
}

/* line 43, ../scss/_reset.scss */
.mt-10 {
    margin-top: -10px;
}

/* line 44, ../scss/_reset.scss */
.ml-10 {
    margin-left: -10px;
}

/* line 45, ../scss/_reset.scss */
.mr-10 {
    margin-right: -10px;
}

/* line 46, ../scss/_reset.scss */
.mb-10 {
    margin-bottom: -10px;
}


/* line 64, ../scss/_reset.scss */
body {
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
    background-color:#fff;
    position:relative;
}

.text-color-primary{
    color:#fe1f3e !important;
}

.btn{
    min-width:1.1rem;
    height:.6rem;
    line-height:.6rem;
    padding:0 .25rem;
    font-size:13px;
    border-radius: .6rem;
    text-align: center;
    display: inline-block;
}
.btn.btn-primary{
    background:url(../images/icon_btn_1.png) center no-repeat;
    background-size: cover;
    border-radius: .6rem;
    color:#fff;
    font-size:12px;
}
.btn.btn-primary.large{
    min-width:6.16rem;
    height:.71rem;
    line-height:.71rem;
    padding:0 .35rem;
    border-radius: .7rem;
    font-size:14px;
}

.btn.btn-default{
    border:1px solid #f1f1f1;
    color:#707070;
    font-size:12px;
    background-color:#fff;
}
.btn.btn-default.large{
    min-width:6.16rem;
    height:.71rem;
    line-height:.71rem;
    padding:0 .35rem;
    border-radius: .7rem;
    font-size:14px;
}


.process{
    position:relative;
    margin-top:.24rem;
}
.process .process-graph,.process .process-graph > div{
    position:relative;
    height:.06rem;
    width:100%;
    background-color:#f1f1f1;
    border-radius: .1rem;
}
.process .process-graph > div{
    width:0;
}
.process .process-graph > div.process-graph-1{
    background:url(../images/icon_process_1.png) center no-repeat;
    background-size: cover;
}
.process .process-graph > div.process-graph-2{
    background:url(../images/icon_process_2.png) center no-repeat;
    background-size: cover;
}
.process .text{
    position:absolute;
    right:0;
    bottom:-.1rem;
    font-size:10px;
    color:#969696;
    display: inline-block;
    padding-left:13px;
    background: url(../images/icon_user.png) left center no-repeat;
    background-size: 10px;
}