body{
	margin-bottom:1rem;
}
.banner{
	width:100%;
	padding-top:.54rem;
	height:2.44rem;
	background-color: #f4cd20;
	text-align: center;

}
.banner img{
	height:.56rem;
	margin:0 auto;

}
.banner .slogan{
	font-size:10px;
	margin-top:.22rem;
	line-height:.1rem;
	color:#796610;
}
.banner .search{
	height:.66rem;
	width:6.84rem;
	margin-top:.44rem;
	border-radius: .33rem;
	border:none;
	text-indent: .63rem;
	line-height:.66rem;
	background:#fff url(../images/icon_search.png) .24rem .2rem no-repeat;
	background-size: .26rem;
}
.banner-img{
	width:100%;
	height: 3.16rem;
}
.banner-img img{
	width:100%;
	height:100%;
}

.cates{
	position:relative;
	width:7.5rem;
	height:.68rem;
	background-color:#fafafa;
	line-height: .68rem;
	text-align: center;
}
.cates .cs{
	display: -webkit-flex;
	display:flex;
}
.cates .cs li{
	flex-grow: 1;
	-webkit-flex-grow:1;
}
.cates .cs li a{
	position:relative;
	display:inline-block;
	color:#000;
	font-size:13px;
}
.cates .cs li a:after{
	content:'';
	position:absolute;
	top:.27rem;
	right:-.2rem;
	width:0;
	height:0;
	border-left:3px solid #bfbfbf;
	border-bottom:3px solid #bfbfbf;
	border-top:3px solid rgba(0,0,0,0) !important;
	border-right:3px solid rgba(0,0,0,0)  !important;
	-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);

}
.cates .cs li a.on:after{
	top:.32rem;
	border-color:#000;
	-ms-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}
.cates .cs li a.sorter:after{
	position:absolute;
	top:.24rem;
	right:-.3rem;
	width:.2rem;
	height:.2rem;
	border:none !important;
	background: url(../images/icon_sorter.png) center no-repeat;
	background-size: contain;
	-ms-transform:rotate(0);
	-moz-transform:rotate(0);
	-o-transform:rotate(0);
	-webkit-transform:rotate(0);
	transform:rotate(0);
}

.c-list li{
	height:2rem;
	width:7.5rem;
	padding:.2rem 0;
	border-top:1px solid #efefef;
}
.c-list li .img{
	height:1.6rem;
	width:2.37rem;
	background:center no-repeat;
	background-size: cover;
	border-radius: 3px;
	margin-left:.14rem;
	display:inline-block;
	vertical-align: middle;
}
.c-list li .desc{
	position:relative;
	width:4.58rem;
	padding-left:.2rem;
	display:inline-block;
	vertical-align: middle;
}
.c-list li .desc .name{
	font-size:14px;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.c-list li .desc .intro{
	font-size:12px;
	color:#8e8e8e;
	margin-top:.1rem;
}
.c-list li .desc .attrs{
	font-size:10px;
	margin-top:.24rem;
}
.c-list li .desc .attrs span{
	display:inline-block;
	line-height:12px;
	padding:0 4px;
	border-radius: 12px;
}
.c-list li .desc .attrs span.rate{
	background: #fffae5;
	color:#f4cd20;
}
.c-list li .desc .attrs span.quota{
	background: #fff1f3;
	color:#fe1f3e;
}

.c-list li .desc .price{
	position:absolute;
	right:0;
	bottom:.3rem;
	color:#000;
	font-size:10px;
}
.c-list li .desc .price span{
	color:#fe1f3e;
	font-size:15px;
	font-weight: bold;
}
.process .process-graph{
	width:3.86rem;
}



.f-list{
	float:left;
	width:1.96rem;
	height:5.92rem;
	background-color: #fafafa;
}
.s-list{
	float:right;
	width:5.54rem;
	height:5.92rem;
}
.f-list li,.s-list li{
	height:.74rem;
	line-height:.74rem;
	padding:0 .52rem;
	text-align: left;
}
.f-list li.on,.s-list li.on{
	color:#f4cd20;
	background-color: #fff;
}

/** 分类 citys */
.citys,.prices,.tags,.sorters{
	position:absolute;
	top:.68rem;
	width:100%;
	height:5.92rem;
	background-color:#fff;
	font-size:12px;
	color:#000;
	overflow: hidden;
	z-index:10;
	display:none;
}
.prices{
	height:5.36rem;
}
.prices .f-list,.prices .s-list{
	height:4.44rem;
}
.prices .cus-box{
	height:.91rem;
	line-height:.91rem;
	border-top:1px solid #efefef;
	color:#d3d3d3;
	clear: both;
}
.prices .cus-box label{
	padding-left:.24rem;
	color:#000;
}
.prices .cus-box input[type="number"]{
	width:1.4rem;
	height:.61rem;
	border:1px solid #f1f1f1;
	border-radius: 3px;
	text-align: center;
	margin:0 .15rem;
}
.prices .cus-box a{
	margin-left:.2rem;
}

.tags{
	height:5.61rem;
	text-align: left;
}
.tags .tag-wrapper{
	padding:0 .15rem;
}
.tags .tag-box{
	padding:0 .18rem;
	padding:.15rem;
	border-bottom:1px solid #ebebeb;
}
.tags .tag-box a.btn{
	margin-right:.08rem;
	margin-bottom:.15rem;
	min-width:1.05rem;
}
.tags .tag-box a.btn.on{
	border:1px solid #f4cd20;
	color:#f4cd20;
	background-color:#fffae5;
}
.tags .tag-box a.btn:nth-child(4n){
	margin-right:0;
}
.tags a.btn.btn-primary{
	margin-top:.22rem;	
}

.sorters{
	height:auto;
	padding-bottom:.3rem;
	display:block;
}
.sorters li{
	height:.89rem;
	line-height:.89rem;
	text-indent: .52rem;
	text-align: left;
}
.sorters li.on{
	color:#f4cd20;
}